# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
/dist
/dist-ssr
/coverage

# Environment Variables
.env
.env.local
.env.*.local
*.env

# Tooling/Vite Caches
.vite
.eslintcache
.stylelintcache
.prettiercache
.parcel-cache
.cache
.npm
.yarn-integrity

# IDEs and Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.patch
*.diff

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Database files
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal

# Build artifacts
*.tsbuildinfo
*.js.map
*.css.map
